<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

<div class="container">



<footer class="footer-basic-centered">

<p><br></p>

		

			<p class="footer-links">
				<a href="#">Accueil</a>
				·
				<a href="#">Client</a>
				·
				<a href="#">Commande</a>
				·
				<a href="#">Produit</a>
				·
				<a href="#">Catégorie</a>
				·
				<a href="#">Contact</a>
			</p>

			<p class="footer-company-name">Chaima & Chiraz &copy; 2022-2023</p>

 </footer>
 </div>

</div>
</body>
</html>